body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e0e0e0;
  overflow: auto;
  padding: 20px 0;
}

.container {
  width: 900px;
  margin: 20px 0;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
  height: 1263px;
}

.top-horizontal {
  width: 900px;
  height: 237px;
  background-color: #2f3137;
  position: relative;
  top: 297.13px;
}

.center-vertical {
  width: 268px;
  height: 1155px;
  background-color: #2f3137;
  position: absolute;
  left: 875px;
  top: 102px;
}

.top-blue {
  width: 268px;
  height: 35px;
  background-color: #1174ae;
  position: absolute;
  top: 48px;
  left: 875px;
}

.center-blue {
  width: 268px;
  height: 237px;
  background-color: #1174ae;
  position: absolute;
  top: 345px;
  left: 875px;
}

.bottom-blue {
  width: 268px;
  height: 35px;
  background-color: #1174ae;
  position: absolute;
  top: 1276px;
  left: 875px;
}

.img {
  width: 176px;
  height: 212px;
  border: 7.0569468604px solid #1174ae;
  position: absolute;
  top: 90px;
  left: 350px;
}

.h1 {
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  color: #2f3137;
  font-weight: 800;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 83px;
  left: 580px;
}

.h2 {
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  color: #2f3137;
  font-weight: 100;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 130px;
  left: 580px;
}

.h3 {
  font-size: 16px;
  letter-spacing: 2px;
  color: #1174ae;
  font-weight: 300;
  font-style: italic;
  font-family: "Raleway Italic", sans-serif;
  position: absolute;
  top: 175px;
  left: 580px;
}

.h4 {
  width: 270px;
  height: 255px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #2f3137;
  font-family: "Raleway Roman", sans-serif;
  text-align: left;
  position: absolute;
  top: 195px;
  left: 580px;
}

.BG_1 {
  width: 25px;
  height: 25px;
  background-color: #1174ad;
  position: absolute;
  top: 135px;
  left: 910px;
}

.icon_1 {
  width: 15px;
  height: 17px;
  border-radius: 13px;
  position: absolute;
  top: 139px;
  left: 915px;
}

.contact {
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 132px;
  left: 945px;
}

.underline {
  width: 198px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 160px;
  left: 910px;
}

.BG_2 {
  width: 21px;
  height: 21px;
  background-color: #1174ae;
  position: absolute;
  top: 191px;
  left: 910px;
}

.icon_2 {
  width: 10px;
  height: 13px;
  position: absolute;
  top: 194px;
  left: 916px;
}

.pt1 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 170px;
  left: 942px;
}

.pt2 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 187px;
  left: 942px;
}

.BG_3 {
  width: 21px;
  height: 21px;
  background-color: #1174ae;
  position: absolute;
  top: 240px;
  left: 910px;
}

.icon_3 {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  position: absolute;
  top: 244px;
  left: 914px;
}

.pt3 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 218px;
  left: 942px;
}

.pt4 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 235px;
  left: 942px;
}

.BG_4 {
  width: 21px;
  height: 21px;
  background-color: #1174ae;
  position: absolute;
  top: 289px;
  left: 910px;
}

.icon_4 {
  width: 9px;
  height: 14px;
  border-radius: 2px;
  position: absolute;
  top: 292px;
  left: 917px;
}

.pt5 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 268px;
  left: 942px;
}

.pt6 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 287px;
  left: 942px;
}

.line {
  width: 1px;
  height: 119px;
  background-color: #ffffff;
  position: absolute;
  top: 191px;
  left: 910px;
}

.BGL {
  width: 25px;
  height: 25px;
  background-color: #2f3137;
  position: absolute;
  top: 380px;
  left: 910px;
}

.icon_5 {
  width: 17px;
  height: 17px;
  border-radius: 8px;
  position: absolute;
  top: 384px;
  left: 914px;
}

.lt1 {
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 376px;
  left: 945px;
}

.l_underline {
  width: 198px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 405px;
  left: 910px;
}

.lt2 {
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 425px;
  left: 910px;
}

.shape1 {
  width: 7px;
  height: 7px;
  background-color: #2f3137;
  position: absolute;
  top: 438px;
  left: 1079px;
}

.shape2 {
  width: 85px;
  height: 4px;
  background-color: #2f3137;
  position: absolute;
  top: 440px;
  left: 1000px;
}

.shape3 {
  width: 101px;
  height: 4px;
  background-color: #218ece;
  position: absolute;
  top: 440px;
  left: 1008px;
}

.lt3 {
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 455px;
  left: 910px;
}

.shape4 {
  width: 7px;
  height: 7px;
  background-color: #2f3137;
  position: absolute;
  top: 470px;
  left: 1057px;
}

.shape5 {
  width: 60px;
  height: 4px;
  background-color: #2f3137;
  position: absolute;
  top: 471px;
  left: 1000px;
}

.shape6 {
  width: 101px;
  height: 4px;
  background-color: #218ece;
  position: absolute;
  top: 471px;
  left: 1008px;
}

.lt4 {
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 485px;
  left: 910px;
}

.shape7 {
  width: 7px;
  height: 7px;
  background-color: #2f3137;
  position: absolute;
  top: 499px;
  left: 1070px;
}

.shape8 {
  width: 74px;
  height: 4px;
  background-color: #2f3137;
  position: absolute;
  top: 501px;
  left: 1000px;
}

.shape9 {
  width: 101px;
  height: 4px;
  background-color: #218ece;
  position: absolute;
  top: 501px;
  left: 1008px;
}

.lt5 {
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 515px;
  left: 910px;
}

.shape10 {
  width: 7px;
  height: 7px;
  background-color: #2f3137;
  position: absolute;
  top: 530px;
  left: 1051px;
}

.shape11 {
  width: 53px;
  height: 4px;
  background-color: #2f3137;
  position: absolute;
  top: 531px;
  left: 1000px;
}

.shape12 {
  width: 101px;
  height: 4px;
  background-color: #218ece;
  position: absolute;
  top: 531px;
  left: 1008px;
}

.lt6 {
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 545px;
  left: 910px;
}

.shape13 {
  width: 7px;
  height: 7px;
  background-color: #2f3137;
  position: absolute;
  top: 559px;
  left: 1077px;
}

.shape14 {
  width: 81px;
  height: 4px;
  background-color: #2f3137;
  position: absolute;
  top: 561px;
  left: 1000px;
}

.shape15 {
  width: 101px;
  height: 4px;
  background-color: #218ece;
  position: absolute;
  top: 561px;
  left: 1008px;
}

.BGR {
  width: 25px;
  height: 25px;
  background-color: #1174ae;
  position: absolute;
  top: 620px;
  left: 910px;
}

.icon_6 {
  width: 20px;
  height: 14px;
  border-radius: 2px;
  position: absolute;
  top: 625px;
  left: 913px;
}

.rt1 {
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 617px;
  left: 945px;
}

.r_underline {
  width: 198px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 645px;
  left: 910px;
}

.p1_1 {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 665px;
  left: 910px;
}

.p1_2 {
  font-size: 14px;
  color: #1174ae;
  font-weight: bold;
  font-style: italic;
  font-family: "Raleway Italic", sans-serif;
  position: absolute;
  top: 675px;
  left: 910px;
}

.pt1_3 {
  font-size: 14px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 695px;
  left: 910px;
}

.pt1_4 {
  font-size: 14px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 715px;
  left: 910px;
}

.p2_1 {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 760px;
  left: 910px;
}

.p2_2 {
  font-size: 14px;
  color: #1174ae;
  font-weight: bold;
  font-style: italic;
  font-family: "Raleway Italic", sans-serif;
  position: absolute;
  top: 770px;
  left: 910px;
}

.pt2_3 {
  font-size: 14px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 790px;
  left: 910px;
}

.pt2_4 {
  font-size: 14px;
  color: #ffffff;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 810px;
  left: 910px;
}

.BGE {
  width: 25px;
  height: 25px;
  background-color: #1174ae;
  position: absolute;
  top: 880px;
  left: 910px;
}

.icon_7 {
  width: 18px;
  height: 13px;
  position: absolute;
  top: 886px;
  left: 914px;
}

.et {
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway Roman", sans-serif;
  position: absolute;
  top: 876px;
  left: 944px;
}

.e_underline {
  width: 198px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 905px;
  left: 910px;
}

.BGE_1 {
  width: 18px;
  height: 88px;
  background-color: #1174ae;
  position: absolute;
  top: 935px;
  left: 910px;
}

.et_1 {
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Raleway Roman", sans-serif;
  text-align: center;
  position: absolute;
  top: 935px;
  left: 910px;
  transform: rotate(90deg) scale(-1, 1);
  transform-origin: center;
}

/*# sourceMappingURL=style.css.map */
